<h1> roll </h1>

<%= firstdice = rand(1..6) %>
<%= seconddice = rand(1..6) %>

<img src ="http://www.kiei925.com/images/dice/<%= firstdice %>.png">
<img src ="http://www.kiei925.com/images/dice/<%= seconddice %>.png">


