<h1> roll </h1>

<%= firstdice = rand(1..6) %>
<%= seconddice = rand(1..6) %>


<h1> roll </h1>roll>
<>





<%dice =dice.create ()

<% dice = [1.png, 2.png, 3.png, 4.png, 5.png, 6.png] %>
 #<%= dice.firstdice %>
 #<%= dice.seconddice %>

%>
