<table>
  <tr>
    <th>title</th>
    <th>author</th>

<% all_books = Book.read %>
<% all_books.each do |the_book| %>       #start loop
  <tr>
    <td><%= the_book.title %></td>  #column book in database
    <td><%= the_book.author %></td>  #column author in database
  </tr>

<% end %>                        #end loop
</table>
